@import "./variables.scss";
@import "./breakpoints.scss";

.categories {
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $lightgrey;

    @include sm {
        padding: 50px 20px;
    }

    h1 {
        color: $green;
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 15px;
    }

    .description {
        max-width: 600px;
        font-size: 16px;
        font-weight: 300;
        color: $darkgrey;
    }

    .categories_list {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 0;
        justify-content: center;
        gap: 20px;

        a {
            text-decoration: none;
        }

        .category {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 200px;
            cursor: pointer;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                transition: transform 0.2s ease-in-out;
            }

            &:hover img{
                transform: scale(0.9);
            }

            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                transition: 0.2s ease-in-out;
            }

            &_text {
                position: relative;
                color: white;

                &_icon {
                    font-size: 45px;
                }

                .category_label {
                    font-weight: 500;
                    color: white;
                }
            }

            &:hover {
                .overlay {
                transform: scale(0.9);
                }
            }

        }
    }
}