@import "./variables.scss";

.listing-card {
    max-width: 320px;
    position: relative;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;

    .slider-container {
        width: 300px;
        overflow: hidden;
        margin-bottom: 10px;
        border-radius: 10px;

        .slider {
            display: flex;
            transition: transform 0.5s ease;

            .slide {
                position: relative;
                flex: 0 0 100%;
                width: 100%;
                height: 270px;
                display: flex;
                align-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    filter: brightness(85%);
                }

                .prev-button,
                .next-button {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 6px;
                    cursor: pointer;
                    display: flex;
                    color: $lightgrey;
                    align-items: center;
                    justify-content: center;
                    z-index: 9999;

                    &:hover {
                        color: white;
                    }
                }

                .prev-button {
                    left: 10px;
                }

                .next-button {
                    right: 10px;
                }
            }
        }
    }

    h3 {
        font-size: 16px;
        color: $green;
        word-wrap: break-word;
    }

    .category {
        font-size: 16px;
        color: $green;
    }

    .type {
        font-size: 16px;
        color: $darkgrey;
    }

    .price,
    .total_price {
        font-weight: 700;
        font-size: 16px;
        color: $orange;
    }

    .date_range {
        font-size: 15px;
        color: $darkgrey;
        font-weight: 500;
    }

    span {
        font-size: 15px;
        color: $blue;
        font-weight: 700;
    }

    .favorite {
        position: absolute;
        right: 20px;
        top: 20px;
        border: none;
        font-size: 20px;
        cursor: pointer;
        z-index: 999;
        background: none;
    }
}