@import "./variables.scss";
@import "./breakpoints.scss";

.navbar {
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include sm {
        padding: 10px 20px;
    }

    img {
        width: 130px;
        cursor: pointer;

        @include lg {
            width: 80px;
        }
    }

    &_search {
        border-bottom: 1px solid $grey;
        height: 40px;
        padding: 0px 20px;
        display: flex;
        gap: 40px;
        align-items: center;

        input {
            border: none;
            outline: none;
        }

        @include lg {
            display: none;
        }
    }

    &_right {
        display: flex;
        align-items: center;
        gap: 20px;

        .host {
            text-decoration: none;
            color: $green;
            font-weight: 400;
            cursor: pointer;

            &:hover {
                color: $orange;
            }

            @include sm {
                display: none;
            }
        }

        &_account {
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            border: none;

            display: flex;
            gap: 15px;
            background-color: white;
            cursor: pointer;

            img {
                width: 40px;
                height: 40px;
            }
        }

        &_accountmenu {
            position: absolute;
            background-color: $green;
            right: 60px;
            top: 80px;
            display: flex;
            flex-direction: column;
            width: 180px;
            padding: 10px 0;
            z-index: 9999;

            @include sm {
                right: 20px;
                top: 60px;
                width: 140px;
            }

            hr {
                width: 130px;
                margin: 24px;

                @include sm {
                width: 100px;
                margin: 20px;
                }
            }

            a {
                width: 100%;
                padding: 10px 25px;
                text-decoration: none;
                font-size: 14px;
                color: white;
                font-weight: 300;

                @include sm {
                    font-size: 12px;
                    padding: 8px 20px;
                }

                &:hover {
                    background-color: rgba(217, 213, 213, 0.1);
                }
            }
        }
    }
}